<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Comercial</title>
    <link rel="stylesheet" href="../css/cursos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="shortcut icon" href="../imagens/employee-logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html"><img src="../imagens/Employee Reception-logo.png" alt=""></a>
            </div>
            <ul id="menuList">
                <li><a href="../partials/cursos.html">Cursos</a></li>
                <li><a href="../partials/gestao-comercial.html">Gestão Comercial</a></li>
                <li><a href="../partials/recrutamento-selecao.html">Recrutamento e Seleção</a></li>
                <li><a href="../partials/missao-visao-valores.html">Missão, Visão e Valores</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>
    </header>
    <main>
        <h1>Cursos</h1>
        <article class="paragrafos">
            <h2>Qual a importância de fazer um curso?</h2>
            <p>A duas principais razões para realizar um curso deve ser o aprimoramento e o crescimento pessoal e/ou profissional. Isto é, o desejo de sair do atual estágio de conhecimentos e habilidades e evoluir para um novo estágio, abrindo assim novas oportunidades.</p>
            <h2>Cursos que disponibilizamos na nossa plataforma:</h2>
            <li>Treinamento de Excel da Microsoft </li>
            <p>Treinamento de Excel da Microsoft. O curso de Excel da Microsoft é dedicado aos iniciantes no mundo das planilhas. A metodologia inclui 16 módulos com videoaulas que explicam formatação, gráficos, tabelas, fórmulas e funções.</p>
            <img src="../imagens/treinamento-exceljpg.jpg" alt="" class="img-descritiva">
            <h2 class="vantagens">Vantagens e desvantagens do curso de treinamento de Excel da Microsoft </h2>
            <ul class="lista">
                <li>Vantagem 1 – Fácil de implementar</li>
                <li>Vantagem 2 – Flexibilidade extrema</li>
                <li>Vantagem 3 – Podem ser integrados com outros sistemas da sua empresa.</li>
                <li>Vantagem 4 – É gratuito! </li>
                <li>Vantagem 5 – Requer pouco treinamento. </li>
                <li>Desvantagem 1 – Lentidão.</li>
                <li>Desvantagem 2 - Complexidade</li>
            </ul>
        </article>
        <div class="container">
            <div class="div-video">
                <iframe src="https://www.youtube.com/embed/videoseries?si=zhOcqr4gD2jtn9gS&amp;list=PLFVUrXYB__lbg2ttKhleZbLfXABwtx2ni" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <article class="paragrafos">
            <li>Marketing digital</li>
            <p>O curso Marketing digital prepara os profissionais para atuar com comunicação interativa, planejando e implementando ações integradas de marketing para os meios digitais disponíveis. A duração do curso varia a depender da instituição, mas possui uma média de 12 meses.</p>
            <img src="../imagens/marketing-digital.jpg" alt="" class="img-descritiva">
            <h2 class="vantagens">Vantagens e Desvantagens do Curso de Marketing</h2>
            <p>Tem boas oportunidades, proporciona o aumento do salário, produz um profissional mais completo e versátil, expande a sua área de atuação, estimula a criatividade e desenvolve técnicas importantes para o mercado. Os pontos negativos são: alto investimento; dificuldade de mensurar os resultados; dificuldade de segmentação; limitação geográfica; pouca acessibilidade na comunicação entre empresa e consumidor.</p>
        </article>
        <div class="container">
            <div class="div-video">
                <iframe src="https://www.youtube.com/embed/videoseries?si=gNT4NGMns-izI0ur&amp;list=PLHz_AreHm4dmmqFmLT17KMjoaE0Y4LqRv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <article class="paragrafos">
            <li>Inglês </li>
            <p>Empresas que operam internacionalmente dependem muito desse idioma como ferramenta de comunicação com clientes internacionais, parceiros comerciais e colaboradores de diferentes países, pois serve como uma língua predominante ou comum que permite uma negociação e troca de ideias.</p>
            <img src="../imagens/cursos-de-idiomas.jpg" alt="" class="img-descritiva">
            <h2 class="vantagens">Vantagens e Desvantagens do Curso de Inglês</h2>
            <p>Os falantes fluentes de inglês têm ao seu alcance um vasto leque de oportunidades de carreira, bem como mais vantagens sociais e educacionais. Aprender inglês faz com que se destaque da multidão, dá-lhe acesso a melhores empregos e abre-lhe portas para muitas possibilidades pessoais e profissionais. Embora os cursos de inglês online ofereçam flexibilidade e conveniência, uma desvantagem a ser considerada é o potencial isolamento que pode ocorrer durante o aprendizado. Ao estudar de forma virtual, os alunos podem perder a interação social que muitas vezes é proporcionada pelos cursos presenciais.</p>
        </article>
        <div class="container">
            <div class="div-video">
                <iframe src="https://www.youtube.com/embed/videoseries?si=A6I7Nq8j5KNVItDR&amp;list=PLZ65xj2SRHQB0T2GGk-R7bYxorKUkcyoj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    <footer>
        <section class="logo-rodape"></section>
            <img src="imagens/logo-laranja.png" alt="">
        </section>
        <section class="rodape-infos">
            <h1>Quem somos</h1>
            <h2>Cursos</h2>
            <h2>Gestão Comercial</h2>
            <h2>Missão, Visão e Valores</h2>
            <h2>Recrutamento e Seleção</h2>
        </section>

        <section class="rodape-infos" id="sobre-nos">
            <h1>Informações do projeto</h1>
            <h2>Equipe</h2>
            <h2>SharePoint</h2>
        </section>


        <section class="rodape-infos"id="suporte">
            <h1>Suporte</h1>
            <h2>FAQ</h2>
            <h2>Telefones</h2>
            <h2>Contato</h2>
            <h2>Redes</h2>
        </section>


        <section class="rodape-contatos">
            <section class="item-icon">
                <i class="fa-regular fa-envelope"></i>
                <h2 class="contatos">contato@employeereception.gmail</h2>
            </section>
            <section class="item-icon">
                <i class="fa-solid fa-phone"></i>
                <h2 class="contatos">(11) 96077-5570</h2>
            </section>
            <section class="icons-contatos">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-solid fa-x"></i>
            </section>
            <h2 class="direitos-rodape">©2024EmployeeReception. <br>
                Todos os direitos reservados</h2>
        </section>
    </footer>
    <script src="../js/menu-device.js"></script>
</body>
</html>