<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Comercial</title>
    <link rel="stylesheet" href="../css/gestao-comercial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="shortcut icon" href="../imagens/employee-logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html"><img src="../imagens/Employee Reception-logo.png" alt=""></a>
            </div>
            <ul id="menuList">
                <li><a href="../partials/cursos.html">Cursos</a></li>
                <li><a href="../partials/gestao-comercial.html">Gestão Comercial</a></li>
                <li><a href="../partials/recrutamento-selecao.html">Recrutamento e Seleção</a></li>
                <li><a href="../partials/missao-visao-valores.html">Missão, Visão e Valores</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>
    </header>
    <main>
        <h1>Gestão Comercial</h1>
        <article class="paragrafos">
            <p>Suas principais funções incluem prospecção de novos clientes, negociação de contratos, elaboração de propostas comerciais, gestão de vendas, atendimento ao cliente, análise de mercado e desenvolvimento de estratégias para impulsionar o crescimento e maximizar as receitas da empresa.</p>
            <li>Vantagens e Desvantagens</li>
            <p>Uma de suas vantagens é exatamente para facilitar esse relacionamento e organizar todas as ações ligadas à venda de produtos ou serviços. Com uma gestão comercial eficiente, fica mais fácil identificar oportunidades de negócio, se conectar com o público e colocar em práticas novas estratégias para vender mais. Alguns dos pontos negativos são a falta de foco, a falta de processos devidamente definidos, a falta de suporte para o time comercial ,a falta de metas bem definidas, a falta de acompanhamento da equipe e a falta de tecnologia.</p>
        </article>
        <img src="../imagens/gestao-comercial.jpg" alt="" class="img-descritiva">
    </main>
    <footer>
        <section class="logo-rodape"></section>
            <img src="imagens/logo-laranja.png" alt="">
        </section>
        <section class="rodape-infos">
            <h1>Quem somos</h1>
            <h2>Cursos</h2>
            <h2>Gestão Comercial</h2>
            <h2>Missão, Visão e Valores</h2>
            <h2>Recrutamento e Seleção</h2>
        </section>

        <section class="rodape-infos" id="sobre-nos">
            <h1>Informações do projeto</h1>
            <h2>Equipe</h2>
            <h2>SharePoint</h2>
        </section>


        <section class="rodape-infos"id="suporte">
            <h1>Suporte</h1>
            <h2>FAQ</h2>
            <h2>Telefones</h2>
            <h2>Contato</h2>
            <h2>Redes</h2>
        </section>


        <section class="rodape-contatos">
            <section class="item-icon">
                <i class="fa-regular fa-envelope"></i>
                <h2 class="contatos">contato@employeereception.gmail</h2>
            </section>
            <section class="item-icon">
                <i class="fa-solid fa-phone"></i>
                <h2 class="contatos">(11) 96077-5570</h2>
            </section>
            <section class="icons-contatos">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-solid fa-x"></i>
            </section>
            <h2 class="direitos-rodape">©2024EmployeeReception. <br>
                Todos os direitos reservados</h2>
        </section>
    </footer>
    <script src="../js/menu-device.js"></script>
</body>
</html>