<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Comercial</title>
    <link rel="stylesheet" href="../css/missao-visao-valores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="shortcut icon" href="../imagens/employee-logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html"><img src="../imagens/Employee Reception-logo.png" alt=""></a>
            </div>
            <ul id="menuList">
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="gestao-comercial.html">Gestão Comercial</a></li>
                <li><a href="recrutamento-selecao.html">Recrutamento e Seleção</a></li>
                <li><a href="missao-visao-valores.html">Missão, Visão e Valores</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>
    </header>
    <main>
        <h1>Missão, Visão e Valores</h1>
        <article class="paragrafos">
            <h2>Missão da empresa</h2>
            <p>A missão retrata o propósito no qual você e sua equipe elabora, é algo q determina com razão de ser do seu negócio, com o propósito de esclarecer seu negócio. Existe diferentes tipos de missão como: missão diplomática, missão científica, missão empresarial e missão cultural, uma das mais importante para nós. <br> Com o intuito de esclarecer benefícios gerados pela empresa para o cliente.</p>
            <img src="../imagens/icone-missao.jpeg" alt="" class="img-icon">
            <h2>Visão de uma empresa</h2>
            <p>A visão de uma empresa responde onde a empresa quer chegar em período definido de tempo e o que deseja no futuro. Deve ser construída com a ajuda de seus colaboradores buscando dizer um sonho também desejado para eles, com um resultado que devem estar presentes nos colaboradores e nas relações da empresa com o seus clientes, fornecedores e parceiros. A visão mostra aonde a empresa quer chegar a uma projeção das oportunidades futuras no negócio. A visão geral é a capacidade que o colaborador tem de observar a empresa a ponto e conhecê-la a fundo para propor inovações.</p>
            <img src="../imagens/icone-visao.jpg" alt="" class="img-icon">
            <h2>Valores</h2>
            <p>Os valores de uma empresa representam os princípios fundamentais que guiam suas decisões, comportamentos e a forma como se relaciona com o mercado. Eles são a base da cultura organizacional e moldam o modo como a empresa opera no dia a dia. Alguns exemplos clássicos incluem a integridade, a inovação e o foco no cliente, mas esses valores podem variar conforme a identidade e os objetivos de cada organização. Eles não apenas definem a maneira como os colaboradores devem agir, mas também ajudam a alinhar a empresa com suas metas e com a sociedade em geral, garantindo que todos trabalhem em direção ao mesmo propósito.</p>
            <img src="../imagens/icone-valores.jpeg" alt="" class="img-descritiva">
        </article>
    </main>
    <footer>
        <section class="logo-rodape"></section>
            <img src="imagens/logo-laranja.png" alt="">
        </section>
        <section class="rodape-infos">
            <h1>Quem somos</h1>
            <h2>Cursos</h2>
            <h2>Gestão Comercial</h2>
            <h2>Missão, Visão e Valores</h2>
            <h2>Recrutamento e Seleção</h2>
        </section>

        <section class="rodape-infos" id="sobre-nos">
            <h1>Informações do projeto</h1>
            <h2>Equipe</h2>
            <h2>SharePoint</h2>
        </section>


        <section class="rodape-infos"id="suporte">
            <h1>Suporte</h1>
            <h2>FAQ</h2>
            <h2>Telefones</h2>
            <h2>Contato</h2>
            <h2>Redes</h2>
        </section>


        <section class="rodape-contatos">
            <section class="item-icon">
                <i class="fa-regular fa-envelope"></i>
                <h2 class="contatos">contato@employeereception.gmail</h2>
            </section>
            <section class="item-icon">
                <i class="fa-solid fa-phone"></i>
                <h2 class="contatos">(11) 96077-5570</h2>
            </section>
            <section class="icons-contatos">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-solid fa-x"></i>
            </section>
            <h2 class="direitos-rodape">©2024EmployeeReception. <br>
                Todos os direitos reservados</h2>
        </section>
    </footer>
    <script src="../js/menu-device.js"></script>
</body>
</html>