<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Comercial</title>
    <link rel="stylesheet" href="../css/recrutamento-selecao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="shortcut icon" href="../imagens/employee-logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html"><img src="../imagens/Employee Reception-logo.png" alt=""></a>
            </div>
            <ul id="menuList">
                <li><a href="../partials/cursos.html">Cursos</a></li>
                <li><a href="../partials/gestao-comercial.html">Gestão Comercial</a></li>
                <li><a href="../partials/recrutamento-selecao.html">Recrutamento e Seleção</a></li>
                <li><a href="../partials/missao-visao-valores.html">Missão, Visão e Valores</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>
    </header>
    <main>
        <h1>Recrutamento e Seleção</h1>
        <article class="paragrafos">
            <p>O recrutamento e seleção é uma das áreas do RH, na qual consiste em contratar a pessoa ideal para a vaga de emprego.</p>
            <p>Para aqueles que estão, ou passarão por essa área, explicaremos oque é, como fazer o processo e melhores técnicas para um bom desempenho.</p>
            <h2>O que é?</h2>
            <img src="../imagens/icone-recrutamento.jpeg" alt="" class="img-icon">
            <p>O processo de Recrutamento e Seleção de pessoas está presente em diferentes formas na sociedade desde os primórdios do capitalismo. É um dos processos mais importantes de qualquer empresa e envolve diferentes técnicas, metodologias e etapas e vem se transformando nos últimos anos.</p>
            <p>Recrutamento e Seleção de pessoas é um processo de Recursos Humanos, RH, focado em atrair e selecionar os Profissionais que têm maior afinidade com a vaga da empresa.</p>
            <p>Como o próprio termo sugere, esse processo é fundamentado em duas Etapas distintas: O recrutamento e a Seleção.</p>
            <h2>Recrutamento – O que é?</h2>
            <p>Recrutamento é um subsistema do RH responsável pela atração de candidatos para vagas de emprego disponíveis em uma organização. O</p>
            <p>Recrutamento pode ser feito tanto para vagas disponíveis no momento quanto para vagas de banco de talentos.</p>
            <img src="../imagens/icone-rh.jpeg" alt="" class="img-icon">
            <p>Uma vez que a vaga conquiste uma certa quantidade de candidatos durante o processo de recrutamento</p>
            <p>Um ou mais candidatos serão identificados como os mais adequados para a posição durante a seleção.</p>
            <p>Para contratar ótimos profissionais de forma objetiva e equitativa, pode ser usado na seleção:</p>
            <ul class="lista">
                <li>Testes</li>
                <li>Vídeos</li>
                <li>Entrevistas</li>
                <li>Dinâmicas</li>
                <li>Vantagem 5 – Requer pouco treinamento. </li>
                <li>Desvantagem 1 – Lentidão.</li>
                <li>Desvantagem 2 - Complexidade</li>
            </ul>
            <h2>Tipos de R&S</h2>
            <p>Existem diferentes formas de se fazer um processo de Recrutamento e Seleção, por isso, selecionamos os principais tipos para que você possa se familiarizar:</p>
            <h3>Recrutamento externo:</h3>
            <p>Busca no Mercado de trabalho pelo profissional ideal para a vaga em aberto.</p>
            <h3>Recrutamento interno:</h3>
            <p>Seleção dos talentos já existentes na empresa com aproveitamento das habilidades conhecidas e desenvolvidas nos departamentos</p>
            <h3>Recrutamento misto:</h3>
            <p>Quando a empresa divulga a nova oportunidade para os talentos Internos e Externos</p>
            <h2>Recrutamento às cegas:</h2>
            <p>Recrutamento que não considera as informações pessoais como critérios de seleção ou eliminação de um candidato.</p>
            <p>Ter um bom desempenho no recrutamento e seleção como candidato envolve preparação, apresentação e atitude. Aqui estão algumas dicas para se destacar:</p>
            <h2>1. Como se manter preparado</h2>
            <h3>Pesquise sobre a empresa:</h3>
            <p>Entenda a missão, valores, produtos/serviços e cultura da empresa.</p>
            <h3>Conheça a vaga:*</h3>
            <p>Leia atentamente a descrição da vaga e identifique as habilidades e experiências requeridas, pesquise e procure se aprofundar na vaga e suas especializações.</p>
            <h3>Revise seu currículo:</h3>
            <p>Adapte seu currículo para destacar as experiências e habilidades mais relevantes para a vaga, sempre o mantenha atualizado.</p>
            <h2>2. Apresentação</h2>
            <h3>Currículo claro e objetivo:* </h3>
            <p>Mantenha o currículo organizado, com informações relevantes e de fácil leitura.</p>
            <h3>Manter LinkedIn ou outras ferramentas atualizadas</h3>
            <p>Certifique-se de que seu perfil no LinkedIn está atualizado e reflete suas habilidades e experiências.</p>
            <h2>3. O que fazer durante a Entrevista?:</h2>
            <h3>Pontualidade</h3>
            <p>Chegue no horário marcado ou com alguns minutos de antecedência.</p>
            <h3>Vestimenta adequada:</h3>
            <p>Vista-se de maneira apropriada para o ambiente da empresa.</p>
            <h3>Comunicação clara:</h3>
            <p>Responda às perguntas de maneira clara e objetiva, sem divagações.</p>
            <h3>Perguntas inteligentes:</h3>
            <p>Prepare algumas perguntas sobre a empresa e a vaga. Isso demonstra interesse e preparação.</p>
            <h2>Como se portar ao final da R&S?</h2>
            <h3>Confiança:</h3>
            <p>Mantenha uma postura confiante, mas sem arrogância.</p>
            <h3>Positividade:</h3>
            <p>Seja positivo e mostre entusiasmo pela oportunidade.</p>
            <h3>Flexibilidade</h3>
            <p>Esteja aberto a discutir diferentes aspectos da vaga e mostrar flexibilidade.</p>
            <h3>Agradecimento</h3>
            <p> Envie um e-mail de agradecimento após a entrevista, reiterando seu interesse pela vaga e agradecendo pela oportunidade.</p>
            <p>Seguindo essas dicas, você aumentará suas chances para conquistar a vaga a qual tanto sonha.</p>
        </article>
    </main>
    <footer>
        <section class="logo-rodape"></section>
            <img src="imagens/logo-laranja.png" alt="">
        </section>
        <section class="rodape-infos">
            <h1>Quem somos</h1>
            <h2>Cursos</h2>
            <h2>Gestão Comercial</h2>
            <h2>Missão, Visão e Valores</h2>
            <h2>Recrutamento e Seleção</h2>
        </section>

        <section class="rodape-infos" id="sobre-nos">
            <h1>Informações do projeto</h1>
            <h2>Equipe</h2>
            <h2>SharePoint</h2>
        </section>


        <section class="rodape-infos"id="suporte">
            <h1>Suporte</h1>
            <h2>FAQ</h2>
            <h2>Telefones</h2>
            <h2>Contato</h2>
            <h2>Redes</h2>
        </section>


        <section class="rodape-contatos">
            <section class="item-icon">
                <i class="fa-regular fa-envelope"></i>
                <h2 class="contatos">contato@employeereception.gmail</h2>
            </section>
            <section class="item-icon">
                <i class="fa-solid fa-phone"></i>
                <h2 class="contatos">(11) 96077-5570</h2>
            </section>
            <section class="icons-contatos">
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-solid fa-x"></i>
            </section>
            <h2 class="direitos-rodape">©2024EmployeeReception. <br>
                Todos os direitos reservados</h2>
        </section>
    </footer>
    <script src="../js/menu-device.js"></script>
</body>
</html>